body {
	margin: 0;
}

.page {
	min-height: 100vh;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

#main {
	background-color: gold;
}

#screen {
	background-color: black;
}

#screen video {
	width: 100%;
	object-fit: fill;
}

#screen video:focus {
	outline: none;
}

#advanced {
	background-color: gold;
}

#logging p {
	margin: 0 auto;
}

#logging p:first-child {
	margin-top: 1em;
}

#logging p:hover {
	background-color: beige;
}

#logging p i {
	margin-left: 0.2em;
}

#logging .info {
	font-weight: bold;
}

#logging .warn {
	font-weight: bold;
	color: orange;
}

#logging .error {
	font-weight: bold;
	color: deeppink;
}
